$font-family-base: 'Inter', sans-serif;

$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

/* line height */
$line-height-xs: 1.1;
$line-height-sm: 1.2;
$line-height-base: 1.4;
$line-height-md: 1.6;
$line-height-lg: 1.8;
$line-height-xl: 2;

/* colors styles */

$color-black: rgba(0, 0, 0, 1);
$color-black-50: rgba(0, 0, 0, 0.5);
$color-black-30: rgba(0, 0, 0, 0.3);
$color-light-black: rgba(19, 19, 20, 1);
$color-gray: rgba(48, 50, 54, 1);
$color-light-gray: rgba(133, 136, 143, 1);
$color-white: rgba(255, 255, 255, 1);
$color-white-10: rgba(237, 245, 255, 0.1);
$color-white-20: rgba(237, 245, 255, 0.2);
$color-white-30: rgba(237, 245, 255, 0.3);
$color-white-60: rgba(237, 245, 255, 0.6);
$color-gradient: linear-gradient(
  180deg,
  $color-light-gray 11.5%,
  rgb(157, 163, 171) 100%
);

/* font styles */
$text-heading-1: 500 96rem/94% $font-family-base; // Heading 1 96/94%
$text-heading-1-mobile: 500 60rem/94% $font-family-base; // Heading 1 60/94% mobile

$text-heading-2: 500 72rem/94% $font-family-base; // Heading 2 72/94%
$text-heading-2-mobile: 500 48rem/94% $font-family-base; // Heading 2 72/94% mobile

$text-heading-3: 500 24rem/130% $font-family-base; // Heading 3 24/130%
$text-heading-3-mobile: 500 18rem/135% $font-family-base; // Heading 3 18/135% mobile

$text-paragraph: 500 18rem/135% $font-family-base; // Paragraph 18/135%
$text-paragraph-mobile: 500 18rem/135% $font-family-base; // Paragraph 18/135% mobile

$text-body-m: 400 18rem/135% $font-family-base; // Paragraph 18/135%
$text-body-m-mobile: 400 18rem/135% $font-family-base; // Paragraph 18/135% mobile

$text-body-s: 400 18rem/150% $font-family-base; // Body S 14/150%
$text-body-s-mobile: 400 18rem/150% $font-family-base; // Body S 14/150% mobile

$text-link-m: 500 18rem/135% $font-family-base; // Link M 18/135%
$text-link-m-mobile: 500 18rem/135% $font-family-base; // Link M 18/135% mobile

$text-link-s: 500 14rem/135% $font-family-base; // Link S 14/135%
$text-link-s-mobile: 500 14rem/135% $font-family-base; // Link S 14/135% mobile

$text-nav-link: 500 18rem/135% $font-family-base; // Nav Link 18/135%
$text-nav-link-mobile: 500 60rem/94% $font-family-base; // Nav Link 60/94% mobile

$text-caption: 500 16rem/150% $font-family-base; // Caption 16/150%
$text-caption-mobile: 500 16rem/140% $font-family-base; // Caption 16/140% mobile

$text-disclaimer: 400 14rem/150% $font-family-base; // Disclaimer 14/150%
$text-disclaimer-mobile: 400 12rem/150% $font-family-base; // Disclaimer 12/150% mobile

$text-badge: 500 10rem/150% $font-family-base; // Caption 16/150%

/* transition */
$transition-fast: 0.2s ease-in-out;
$transition-base: 0.3s ease;
$transition-slow: 0.5s ease-in-out;

/* border-radius */
$radius-default: 4rem;
$radius-xs: 2rem;
$radius-sm: 4rem;
$radius-md: 6rem;
$radius-lg: 8rem;
$radius-xl: 12rem;
$radius-rounded-2xl: 16rem;
$radius-rounded-3xl: 24rem;
$radius-rounded-4xl: 32rem;
$radius-rounded-none: 0;
$radius-full: 9999rem;

/* spacing from margin | padding | top | left | right | bottom */
$spacing-auto: auto;
$spacing-0: 0;
$spacing-1: 4rem;
$spacing-2: 8rem;
$spacing-3: 12rem;
$spacing-4: 16rem;
$spacing-5: 20rem;
$spacing-6: 24rem;
$spacing-7: 28rem;
$spacing-8: 32rem;
$spacing-9: 36rem;
$spacing-10: 40rem;
$spacing-11: 44rem;
$spacing-12: 48rem;
$spacing-14: 56rem;
$spacing-15: 60rem;
$spacing-16: 64rem;
$spacing-20: 80rem;
$spacing-21: 84rem;
$spacing-22: 88rem;
$spacing-24: 96rem;
$spacing-32: 128rem;
$spacing-33: 134rem;
$spacing-40: 160rem;
$spacing-48: 192rem;
$spacing-56: 224rem;
$spacing-64: 256rem;

/* grid-template-columns :example grid-template-columns: $grid-cols-1 */
$grid-cols-1: repeat(1, minmax(0, 1fr));
$grid-cols-2: repeat(2, minmax(0, 1fr));
$grid-cols-3: repeat(3, minmax(0, 1fr));
$grid-cols-4: repeat(4, minmax(0, 1fr));
$grid-cols-5: repeat(5, minmax(0, 1fr));
$grid-cols-6: repeat(6, minmax(0, 1fr));
$grid-cols-7: repeat(7, minmax(0, 1fr));
$grid-cols-8: repeat(8, minmax(0, 1fr));
$grid-cols-9: repeat(9, minmax(0, 1fr));
$grid-cols-10: repeat(10, minmax(0, 1fr));
$grid-cols-11: repeat(11, minmax(0, 1fr));
$grid-cols-12: repeat(12, minmax(0, 1fr));

/* grid-column :example grid-column: $col-span-1 */
$col-span-1: span 1 / span 1;
$col-span-2: span 2 / span 2;
$col-span-3: span 3 / span 3;
$col-span-4: span 4 / span 4;
$col-span-5: span 5 / span 5;
$col-span-6: span 6 / span 6;
$col-span-7: span 7 / span 7;
$col-span-8: span 8 / span 8;
$col-span-9: span 9 / span 9;
$col-span-10: span 10 / span 10;
$col-span-11: span 11 / span 11;
$col-span-12: span 12 / span 12;

/* gap */
$gap-1: 4rem;
$gap-2: 8rem;
$gap-3: 12rem;
$gap-4: 16rem;
$gap-5: 20rem;
$gap-6: 24rem;
$gap-7: 24rem;
$gap-8: 32rem;
$gap-9: 36rem;
$gap-10: 40rem;
$gap-12: 48rem;
$gap-13: 50rem;
$gap-14: 54rem;
$gap-15: 60rem;
$gap-16: 64rem;
$gap-20: 80rem;
$gap-24: 96rem;
$gap-32: 128rem;
$gap-40: 160rem;
$gap-48: 192rem;
$gap-56: 224rem;
$gap-64: 256rem;

/* width */
$w-auto: auto;
$w-full: 100%;
$w-screen: 100vw;
$w-50: 50%;
$w-25: 25%;

/* height */
$h-auto: auto;
$h-full: 100%;
$h-screen: 100vh;

/* opacity */
$opacity-25: 0.25;
$opacity-50: 0.5;
$opacity-75: 0.75;
$opacity-100: 1;
$opacity-0: 0;

/* box-shadow */
$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

/* align-text */
$text-center: center;
$text-left: left;
$text-right: center;

/* media breakpoints */
$media-xs: 'max-width: 375px';
$media-sm: 'max-width: 767px';
$media-md: 'max-width: 1023px';
$media-lg: 'max-width: 1279px';
$media-xl: 'max-width: 1439px';
$media-2xl: 'max-width: 1919px';

/* wrapper */
$wrap: 1440px;
$header-height-xs: 76px;
$header-height-sm: 64px;
