@use './reset';
@use './fonts';

html {
  scroll-behavior: smooth;
  font-size: 0.0694445vw;

  @media ($media-sm) {
    font-size: 0.266667vw;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  width: 100vw;
  font: $text-body-m;
  background-color: $color-black;
  font-size: 0.0694445vw;

  &.is-hidden {
    overflow: hidden;
  }

  @media ($media-sm) {
    font: $text-body-m-mobile;
    font-size: 0.266667vw;
  }
}

h1 {
  font: $text-heading-1;

  @media ($media-sm) {
    font: $text-heading-1-mobile;
  }
}

h2 {
  font: $text-heading-2;

  @media ($media-sm) {
    font: $text-heading-2-mobile;
  }
}

h3 {
  font: $text-heading-3;

  @media ($media-sm) {
    font: $text-heading-3-mobile;
  }
}

p {
  font: $text-paragraph;

  @media ($media-sm) {
    font: $text-paragraph-mobile;
  }
}

a,
a:visited {
  font: $text-link-s;
  text-decoration: none;
  color: $color-white;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  @media ($media-sm) {
    font: $text-link-s-mobile;
  }
}
