@use './reset';
@use './normalize';
@use './fonts';

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  width: 100vw;
  font: $text-body-m;
  background-color: $color-gray;

  &.is-hidden {
    overflow: hidden;
  }

  @media ($media-sm) {
    font: $text-body-m-mobile;
  }
}
